html {
    background-color: #E6E3;
    color: #add8e9;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino kaku Gothic ProN";
    padding-top: 100px;
}

/*ヘッダ-*/

.ex1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: right;
}

.ex1 h1 {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 20px;
}

.openbtn {
    position: fixed;
    top: 0;
    right: 0;
    background: #FFB6C1;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}


.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#global_nav {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 998;
}

#global_nav.show {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 998;
}

#global_nav ul {
    list-style: none;
    padding: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#global_nav li {
    padding: 10px;
    text-align: center;
    margin: 0 15px;
    position: relative;
}


#global_nav li:not(:last-child)::after {
    color: #3498db; /* パステルブルー */
    margin: 0 5px; /* 縦線の間隔を調整 */
}

/* 追加：大きな画面で非表示 */
@media screen and (min-width: 768px) {
    .openbtn {
        display: none;
    }

    #global_nav.show {
        display: flex;
    }
}

/*概要*/

#overview h2 {
    text-align: center;
    padding: 2rem;
}

#overview img,
#like img,
#overview p,
#like p {
    text-align: center;
}

.text {
    padding: 1rem;
}

.ex2 {
    display: block;
    margin: auto;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

figure,
footer,
header,
nav {
    display: block;
}

figure {
    margin-bottom: 1rem;
}

figure img {
    width: 180px;
    height: 180px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

figcaption {
    font-size: 1.5rem;
    text-align: center;
    line-height: 4rem;
}

/* メディアクエリ */
@media only screen and (max-width: 800px) {
    #overview h2 {
        padding: 1rem;
    }

    #overview img,
    #like img,
    #overview p,
    #like p {
        text-align: center;
    }

    .ex2 {
        width: 100%;
    }
}

@media only screen and (min-width: 801px) {
    #overview p {
        max-width: 800px;
        margin: auto;
    }
}

/*アイドル*/

#idol h2 {
    text-align: center;
    padding: 5rem;
}

.slide-container {
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
}

.slide-wrapper {
    display: flex;
    width: 100%;
    animation: slide-flow 20s infinite linear 1s both;
}

.slide {
    width: 33.33%;
    object-fit: cover;
    border: 1px solid #ddd;
}

@keyframes slide-flow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#contact {
    margin: 30px 0;
    padding: 20px;
    background-color: #f7f7f7;
}

#contact h2 {
    color: #3498db; 
    text-align: center;
}

#contact p {
    font-size: 16px;
    color: #2c3e50; 
}

#contact form {
    margin-top: 20px;
}

#contact label {
    display: block;
    margin-bottom: 8px;
    color: #9b59b6; 
    text-align: center;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ecf0f1; 
    border-radius: 5px;
}

#contact input[type="submit"] {
    background-color: #1abc9c; 
    color: #fff;
    cursor: pointer;
}

#contact input[type="submit"]:hover {
    background-color: #16a085; 
}
